<div>
    <mat-grid-list cols="2">
        <mat-grid-tile>
            <form class="register">
                <h1 style="background-color: darkgrey;">TECMAX</h1>
                <h2>Let's get you started</h2>
                <mat-form-field class="register_1">
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="MyUsername" required>
                </mat-form-field><br>
                <mat-form-field class="register_1">
                    <mat-label>Email Address</mat-label>
                    <input matInput placeholder="human@email.com">
                </mat-form-field><br>
                <mat-form-field class="register_1">
                    <mat-label>Phone Number</mat-label>
                    <input matInput placeholder="My Number" required>
                </mat-form-field><br>
                <mat-form-field class="register_1">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="********" required>
                </mat-form-field><br>
                <!-- <mat-chip color="primary">Sign Up Now</mat-chip> -->
                <button mat-raised-button color="primary">Sign Up Now</button>
            </form>
        </mat-grid-tile>
        <mat-grid-tile>
            <img src="https://24022020.s3.ap-south-1.amazonaws.com/img-background.png"
            class="img-background">
        </mat-grid-tile>
    </mat-grid-list>
</div>
