<div>
    <mat-grid-list cols="2">
        <mat-grid-tile>
            <form class="register">
                <h1 style="background-color: darkgrey;">TECMAX</h1>
                <h2 class="start">Let’s get you started.</h2>
                <mat-form-field class="register_1">
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="MyUsername" required [(ngModel)]="user.username" name="username">
                </mat-form-field><br>
                <mat-form-field class="register_1">
                    <mat-label>Email Address</mat-label>
                    <input matInput placeholder="human@email.com" [(ngModel)]="user.emailid" name="emailid">
                </mat-form-field><br>
                <mat-form-field class="register_1">
                    <mat-label>Phone Number</mat-label>
                    <input matInput placeholder="My Number" required [(ngModel)]="user.phonenumber" name="phonenumber">
                </mat-form-field><br>
                <mat-form-field class="register_1">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="********" type="password" required [(ngModel)]="user.password" name="password">
                </mat-form-field><br>
                <button class="signup" color="primary" (click)="register()"><label class="signupnow">SIGN UP NOW</label></button>
            </form>
        </mat-grid-tile>
        <mat-grid-tile [ngStyle]="{backgroundImage:'url(https://24022020.s3.ap-south-1.amazonaws.com/img-background.png)'}">
            <div >
                <h1 class="h1">Hello there!</h1>
                <h2 class="h2">You’re precious when you smile ;)</h2>
                <br>
                <h4 class="h4">Sign up now and make attendance fun.</h4>
                <!-- <img src="https://24022020.s3.ap-south-1.amazonaws.com/img-background.png"
                class="img-background"> -->
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>